<html>
<head>
	<meta charset="utf-8">
	<title>Query String Output</title>
</head>
<body>
	総額：<%= @total %>円<br>
	数量：<%= @count %>個<br>
	商品種別：<%= @type %><br>
	商品単価：<%= @unit_price %>円/個<br>
	獲得ポイント：<%= @point %>ポイント
</body>
</html>

